.CarouselHeader {
    position: absolute;
    bottom: 0;
    padding-left: 60px;
    padding-bottom: 400px;
    font-size: 55px;
    font-family: "FreightBig Pro";
    font-weight: bold;
}
.CarouselParagraph {
    position: absolute; 
    bottom: 0;
    padding-left: 60px;
    padding-bottom: 320px;
    font-size: 18px;
    font-family: "FreightBig Pro";
}
.IconList {
    position: absolute;
    display: inline-flex;
    bottom: 0;
    padding-left: 60px;
    padding-bottom: 160px;
    list-style: none;
    text-align: center;
}
.IconListItem {
    padding-left: 35px;
}
ul li span {
    display: block;
    padding-top: 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}
.BrandStrategyLink {
    position: absolute;
    bottom: 0;
    padding-left: 60px;
    padding-bottom: 220px;
    color: inherit;
}
.BrandStrategyLink:hover {
    color: inherit;
}
.BrandStrategyLinkText {
    padding-bottom: 1px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: "ProximaNova-Semibold";
    letter-spacing: 3px;
    border-bottom: 2px solid black;
    display: inline-block;
}