.DigitalBusinessImage {
    float: left;
}
.DigitalBusinessHeader {
    display: flex;
    padding: 100px 60px 30px 80px;
    font-family: FreightBig Pro;
    font-size: 4vw;
    font-weight: bold;
}
.DigitalBusinessParagraph {
    font-size: 1vw;
    font-family: ProximaNova-Light;
    display: flex;
    line-height: 1.8;
    padding: 0 80px 10px 80px;
}
.DigitalBusinessLink {
    bottom: 0;
    padding-left: 80px;
    color: inherit;
}
.DigitalBusinessLink:hover {
    color: inherit;
}
.DigitalBusinessLinkText {
    padding-bottom: 2px;
    font-size: 0.8vw;
    font-weight: bold;
    font-family: ProximaNova-Semibold;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-bottom: 2px solid black;
    display: inline-block;
}